:root{
    --corFundo: rgb(3, 10, 50);
    --corFonte: rgb(255, 255, 255);
    --corHover: yellow;
}

.fundo{
    background-color: rgb(58, 127, 127);
}

.lado2{
    margin-left: 25%;
    font-size: 275%;
}


 .header{
    background-color: var(--corFundo);
    padding-top: 0px;

    
 }

 .header h2{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
   
 }

.header h2 a {
    text-decoration: none;
    color: var(--corFonte);
    padding: 10px;
    
}

.header h2 a:hover{
  color: var(--corHover);
}

.titulo{
    margin-left: 35%;
    font-style: initial;
    text-decoration: underline;
}
.numeros{
    margin-left: 24%;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.but{
    margin-left: 56%;
    background-color: var(--corFundo);
    color: white;
    border: none;
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    border-right: solid 2px white;
    border-radius: 20px;
}